dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
pnpm-lock.yaml
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Logs
logs
*.log
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*
service-account.json
environment.json
src/sw.js

# Firebase cache
.firebase/

# dotenv environment variables file
.env

.history/
